<div class="login-container">
    <h1>Log in</h1>
    <form [formGroup]="myForm" (ngSubmit)="loginUser()">
        <div>
          <input type="text" formControlName="email" placeholder="Email" />
          <!-- Display validation errors if needed -->
          <div class="error" *ngIf="emailControl.invalid && emailControl.touched">
            Email is required and must be a valid email address.
          </div>
        </div>
        <div>
          <input type="password" formControlName="password" placeholder="Password" />
          <!-- Display validation errors if needed -->
          <div class="error" *ngIf="passwordControl.invalid && passwordControl.touched">
            Password is required.
          </div>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
      </form>      
    <p>By continuing, you agree to our <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>. Read our <a href="#">Privacy Notice</a>.</p>
    <p>If you are not part of our comunity, sing up here</p>
    <button type="submit">Sign up</button>
</div>